/* Resets */
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	font-family: "Open Sans", sans-serif;
}
ul,
p {
	margin: 0;
	padding: 0;
}

/* Common Styles */
.info-text {
	width: 38px;
	height: 12px;
	margin: 2px 5px;
	align-self: flex-start;
}
.info-label {
	background-image: url("../assets/img/info-box.png");
	background-repeat: no-repeat;
	border-radius: 5px;
}
.cursor {
	height: 20px;
	margin-right: 10px;
}
.background {
	background-image: url("../assets/img/board-mat.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 1344px;
	height: 784px;
}
ul li,
p,
#card-game-name {
	list-style-type: none;
	font-size: 2rem;
	font-weight: 600;
	text-shadow: 1px 1px 2px black;
	color: white;
	text-align: center;
}
li {
	display: flex;
	align-items: center;
}
p {
	margin: 10px 0px;
}

/* Splash Screen */
#splash-screen-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
#login-label {
	background-size: 400px 150px;
	width: 400px;
	height: 150px;	
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* Game Screen */
#game-screen-container{
	display: flex;
	flex-direction: column;
}
#canvas-container{
	flex: 1 1 auto;
}
#game-screen-container header {
	flex: 0 1 41px;
	z-index: 99;
}
#game-screen-container footer {
	flex: 0 1 50px;
	z-index: 99;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#game-canvas {
	visibility: hidden;
}
.num-card-label img{
	height: 70px;
	margin-top: -45px;
}
#turn-game-selector{
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
#turn-game-selector img{
	height: 38px;
	margin-bottom: -80px;
}
.opponent-turn{
	margin-left: 150px;
}
.player-turn{
	margin-right: 150px;
}

#card-game-label {
	background-size: 350px 80px;
	width: 350px;
	height: 80px;
	margin-top: -80px;
}
#card-game-name {	
	font-size: 3rem;
	margin: 0px;
}



/* Game Over Screen */
#gameover-screen-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: red;
	font-size: 5rem;
}

#preloaded-cards{
	display: none;
}